*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{
    --main-color:#030318;
    --backgrond-color:#0a0a23;
}

html{
    font-size:62.5%;
}

body{
    background:var(--backgrond-color);
    color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

/*------------------------------------------------------
PRIMER BARRA DE NAVEGACION
-------------------------------------------------------*/
.navPrincipal{
    font-size:1.4rem;
    height:10vh;
}

.navPrincipal ul{
    display:flex;
    flex-direction:row;
    height:100%;
    align-items:center;
    background:var(--main-color); 
}

.navPrincipal a{
    text-decoration:none;
    background:none;
    margin:-.1rem;
    padding:2rem 1rem;
    color:#f5f5f5;
    font-weight:bold;
    font-size:1.6rem;
}

.navPrincipal li{
    list-style:none;
    height:auto;
}

/*------------------------------------------------------
CABECERA
-------------------------------------------------------*/
header{
    margin:1rem;
}

h1{
    text-align:center;
    font-size:3rem;
}

header p{
    font-size:2rem;
    margin-top:1rem;
    text-align:center;
}

/*------------------------------------------------------
SECTION
-------------------------------------------------------*/
/*COMPONENTES GENERALES / REUTILIZABLES*/
.inputFigura{
    width:50%;
    height:3rem;
    border:none;
    margin:1rem 0rem;
    font-size:2.5rem;
    text-align:center;
}

.botonFiguras{
    font-size:1.8rem;
    padding:1rem;
    border:none;
    width:auto;
    background:#f5f5f5;
}

.titleFigure{
    text-align:right;
    font-size:2rem;
}

.instructionFigure{
    font-size:1.7rem;
}



/*CUADRADO*/

.calCuadrado{
    background:var(--main-color);
    height:auto;
    padding:2rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:2rem;
}


.dibujoCuadrado{
    width:15rem;
    height:15rem;
    background:dodgerblue;
    align-self:center;
}


.divCuadrado{
    width:100%;
    height:auto;
}

#resultadoCuadrado{
    margin:2rem 0rem;
    font-size:2rem;
    color:#f5f5f5;
    width:auto;
    font-weight:bold;
}

/*------------------------------------------------------
        TRIANGULO
-------------------------------------------------------*/
.calTriangulo{
    background:var(--main-color);
    height:auto;
    padding:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom:2rem;
}

.fomularioTriangulo{
    display:flex;
    flex-direction:column;
}

.dibujoTriangulo{
    align-self:center;
}

#resultadoTriangulo{
    margin:2rem 0rem;
    font-size:2rem;
    color:#f5f5f5;
    width:auto;
    font-weight:bold;
}

/*------------------------------------------------------
        CIRCULO
-------------------------------------------------------*/
.calCirculo{
    background:var(--main-color);
    height:auto;
    padding:1rem; 
    margin-bottom:2rem;  
}

.formCirculo{
    display:flex;
    flex-direction:column;
}

.dibujoCirculo{
    width:15rem;
    height:15rem;
    border-radius:50%;
    background:darkred;
    align-self:center;
    margin:2rem 0rem;
}

.botonesCirculo{
    width:100%;
    height:auto;
}

#resultadoCirculo{
    margin:2rem 0rem;
    font-size:2rem;
    color:#f5f5f5;
    width:auto;
    font-weight:bold;
}
/*------------------------------------------------------
    TRIANGULO ISOCELES
-------------------------------------------------------*/
.calTrianguloIsoceles{
    background:var(--main-color);
    height:auto;
    padding:1rem;
    margin-bottom:2rem;
}

.formTrianguloI{
    display:flex;
    flex-direction:column;
}

.botonesTrianguloI{
    width:100%;
}

.dibTriangI{
    align-self:center;
    margin:2rem 0rem;
}

#resultadoTrianguloIsoceles{
    margin:2rem 0rem;
    font-size:2rem;
    color:#f5f5f5;
    width:auto;
    font-weight:bold;
}








/*------------------------------------------------------
FOOTER | PIE DE PAGINA
-------------------------------------------------------*/
footer{
    width:100vw;
    height:10rem;
    background:var(--main-color);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:3rem;
}
.logo{
    width:4rem;
    height:4rem;
}